.c-button-group {
  margin-top: $spacing-4;
  display: flex;
  /*align-items: center;*/

}

.c-button-group > .c-button {
  margin-right: $spacing-4;
}

.c-button {
  border: none;
  display: inline-block;
  border-radius: $radius-sm;
  box-shadow: $shadow-sm;
  text-decoration: none;
  font-size: $fs-2;
  padding: $spacing-3 $spacing-6;
  transition: all 0.3s;
  text-align: center;
  cursor: pointer;
}

.c-button:hover {
  box-shadow: none;
}

.c-button--md {
  box-shadow: $shadow-md;
  font-size: $fs-3;
  padding: $spacing-4 $spacing-6;
  border-radius: $radius-md;
}

.c-button--lg {
  box-shadow: $shadow-lg;
  font-size: $fs-3;
  padding: $spacing-4 $spacing-6;
  border-radius: $radius-lg;
}