html, body {
  margin: 0;
  padding: 0;
}

// ::-webkit-scrollbar {
//   width: 10px;
//   background: hsla(200, 2%, 80%, 0.8);
//   background: var(--light-3);
//   box-shadow: inset 0px -2px 5px hsla(0, 0%, 20%, 0.4);
// }

// ::-webkit-scrollbar-thumb {
//   background: var(--light-1);
//   border-radius: 20px;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: var(--grey);
// }

body {
  font-size: 16px;
  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 
    Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $dark-1;
}

* { 
  box-sizing: border-box; 
  padding: 0; 
  margin: 0; 
}

h1 { font-size: $fs-9; }
h2 { font-size: $fs-8; }
h3 { font-size: $fs-7; }
h4 { font-size: $fs-6; }
h5 { font-size: $fs-5; }
h6 { font-size: $fs-4; }


ul {
  list-style: none;
}

a {
  text-decoration: none;
}